@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<div class="flex flex-col items-center justify-center min-h-screen p-4 space-y-4 antialiased t">
    
<main>
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
</main>
</div>